@charset "utf-8";

.core_ability_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.core_ability .title_box {
  position: relative;
  margin-bottom: 14px;
  padding: 32px 50px 58px;
  text-align: center;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
}
.core_ability .title_box::before, .core_ability .title_box::after {
  position: absolute; bottom: -26px;
  content: "";
  display: block;
  width: 17px; height: 50px;
  background: url(@/assets/images/abilitydiagram/img_ability_note.png) no-repeat center;
}
.core_ability .title_box::before {
  left: 100px;
}
.core_ability .title_box::after {
  right: 100px;
}

.core_ability .title_box > a {
  position: absolute; right: 32px; top: 24px;
  display: block;
  font-size: 1.3rem; color: #898D9C; font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.core_ability .title_box .title {
  margin-bottom: 8px;
  padding-top: 70px;
  font-size: 2rem; color: #000; font-weight: 600;
  background-repeat: no-repeat;
  background-position: center top;
}
.core_ability.wisdom .title_box .title {
  background-image: url(@/assets/images/abilitydiagram/icon_wisdom.png);
}
.core_ability.interpersonal .title_box .title {
  background-image: url(@/assets/images/abilitydiagram/icon_interpersonal.png);
}
.core_ability.selfpath .title_box .title {
  background-image: url(@/assets/images/abilitydiagram/icon_selfpath.png);
}
.core_ability.entrepreneurship .title_box .title {
  background-image: url(@/assets/images/abilitydiagram/icon_entrepreneurship.png);
}
.core_ability .title_box .title span {
  display: inline-block;
  margin-left: 8px;
  color: rgba(137,141,156, 0.35); font-size: 1.6rem; font-weight: 500;
}
.core_ability .title_box .info {
  font-size: 1.6rem; font-weight: 500; color: #222; line-height: 2.4rem;
}

.core_ability .info_box {
  min-height: 430px;
}
.core_ability .info_box .info_item {
  margin-bottom: 24px;
}
.core_ability .info_box .info_item:last-child {
  margin-bottom: 0; 
}
.core_ability .info_box .info_item .title {
  margin-bottom: 8px;
  font-size: 1.6rem; font-weight: 600; color: #000;
}
.core_ability .info_box .info_item .info {
  margin-bottom: 12px;
  font-size: 1.4rem; font-weight: 500; color: #898D9C;
}
.core_ability .info_box .info_item ul > li {
  display: inline-block;
  margin: 0 10px 4px 0;
  padding: 0 6px;
  color: #F15922; font-size: 1.4rem; font-weight: 500;
  background-color: rgba(255,226,216, 0.7);
}

.core_ability .info_box {
  padding: 32px 60px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
}

.ability_detail_wrap .ability_detail {
  margin-bottom: 40px;
  padding: 40px 90px;
  background-color: #fff;
  border-radius: 14px;
}

.ability_detail .title_wrap {
  margin-bottom: 60px;
  text-align: center;
}
.ability_detail .title_wrap > strong {
  display: block;
  margin-bottom: 8px;
  font-size: 1.6rem; font-weight: 600; color: var(--dark3);
}
.ability_detail .title_wrap .title {
  display: block;
  margin-bottom: 24px;
  font-size: 2.2rem; font-weight: 600; line-height: 3rem;
}
.ability_detail .title_wrap .info {
  font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
}
.ability_detail .info_cnt {
  display: flex;
  gap: 24px;
}
.ability_detail .info_cnt > li {
  position: relative;
  margin-top: 34px;
  padding: 25px 32px;
  flex: 1;
  background-color: #FFFCF1;
  border-radius: 14px;
}
.ability_detail .info_cnt > li strong {
  position: absolute;
  top: -34px; left: 0; right: 0;
  display: block;
  margin-bottom: 10px;
  color: #F15922; font-size: 1.6rem; font-weight: 600; line-height: 2.4rem; text-align: center;
}
.ability_detail .info_cnt > li p {
  margin-bottom: 16px;
  font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
}


/* 전공능력소개 */
.major_ability_wrap {
  margin-top: 100px;
}
.major_ability_wrap .hakgua_title {
  margin-bottom: 60px;
  text-align: center;
}
.major_ability_wrap .hakgua_title .name {
  margin-bottom: 8px;
  font-size: 2rem; font-weight: 600;
}
.major_ability_wrap .hakgua_title .info {
  color: var(--dark3); font-size: 1.6rem; font-weight: 500;
}

.hakgua_tab_wrap {
  display: flex;
  margin: 0 auto 124px;
  max-width: 800px;
  align-items: center; justify-content: center; flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}
.hakgua_tab {
  min-width: 168px;
}
.hakgua_tab input {
  display: none;
}
.hakgua_tab label {
  display: inline-flex;
  padding: 0 36px;
  min-height: 63px;
  align-items: center; justify-content: center;
  text-align: center; font-size: 1.8rem; font-weight: 500;  line-height: 2.6rem;
  background-color: var(--white);
  border: 1px solid var(--light2);
  border-radius: 40px;
  cursor: pointer; 
}
.hakgua_tab input:checked + label {
  color: #FF9101; font-weight: 600;
  background-color: #FFFAD2;
  border-color: #FFFAD2;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
}

.major_ability_cnt .box {
  padding: 60px 38px;
}
.major_ability_cnt .bd_b {
  border-bottom: 1px solid #898D9C !important;
}
.major_ability_cnt .tbl_col p {
  display: flex;
  align-items: center; justify-content: center;
  min-height: 100px;
  line-height: 2.2rem; font-size: 1.4rem; font-weight: 500;
  word-break: keep-all;
}
.major_ability_cnt .tbl_col .hakgua_name {
  line-height: 2.4rem; font-size: 1.6rem; font-weight: 600;
}
.major_ability_cnt .tbl_col ul {
  margin: 16px 0;
  margin-left: 16px;
}
.major_ability_cnt .tbl_col ul > li { 
  margin-bottom: 12px;
  font-size: 1.4rem; font-weight: 500; text-align: left;
}





@media screen and (max-width: 1279px) {
  .ability_detail_wrap .ability_detail {
    padding: 40px;
  }
  .ability_detail .info_cnt > li {
    padding: 24px;
  }


}


@media screen and (max-width: 1024px) {
  .core_ability_wrap {
    grid-template-columns: 1fr;
  }
  .core_ability .title_box {
    padding: 24px 40px 40px;
  }
  .core_ability .info_box {
    min-height: auto;
  }

  .ability_detail_wrap .ability_detail {
    padding: 24px;
  }
  .ability_detail .title_wrap {
    margin-bottom: 24px;
  }
  .ability_detail .title_wrap > strong {
    margin-bottom: 4px;
    font-size: 1.5rem;
  }
  .ability_detail .title_wrap .title {
    margin-bottom: 8px;
    font-size: 1.8rem;
  }
  .ability_detail .title_wrap .info {
    font-size: 1.5rem;
  }
  .ability_detail .info_cnt {
    flex-wrap: wrap;
  }
  .ability_detail .info_cnt > li {
    padding: 24px 16px;
    flex: auto;
  }
  .ability_detail .info_cnt > li p {
    margin-bottom: 4px;
    font-size: 1.5rem;
  }

  .major_ability_wrap {
    margin-top: 60px;
  }
  .hakgua_tab_wrap {
    margin-bottom: 80px;
    max-width: 600px;
    gap: 12px;
  }
  .hakgua_tab {
    min-width: auto;
  }
  .hakgua_tab label {
    min-height: 48px;
    font-size: 1.6rem;
  }

  .major_ability_cnt .box {
    padding: 24px;
  }
  .major_ability_cnt .tbl_col p {
    min-height: auto;
  }

}

@media screen and (max-width: 768px) {

  .core_ability .info_box {
    padding: 32px 40px;
  }

  .hakgua_tab_wrap {
    gap: 8px;
  }
  .hakgua_tab label {
    padding: 0 18px;
    min-height: 42px;
    font-size: 1.5rem; line-height: 2.2rem;
  }


}

@media screen and (max-width: 480px) {

  .core_ability .title_box {
    padding: 16px 32px 32px;
  }
  .core_ability .info_box {
    padding: 32px;
  }
}



