@charset "utf-8";

.diag_intro.learn_tutoring {
  background-image: url(@/assets/images/abilitydevelop/bg_learn_tutoring.png);
}
.diag_intro.learn_sdl {
  background-image: url(@/assets/images/abilitydevelop/bg_learn_sdl.png);
}

.learn_grid {
  display: flex;
  gap: 32px;
}

.learn_apply_wrap {
  width: 435px;
  flex-shrink: 0;
}
.learn_apply_wrap .test_before {
  height: 200px;
}
.learn_apply_wrap .test_result {
  height: auto;
  min-height: 272px;
}
.learn_apply_wrap .testresult_list {
  overflow: visible;
}
.learn_apply_wrap .testresult_list a {
  display: block;
  width: 100%;
}

.learn_state_wrap {
  width: 100%;
  max-width: 825px;
}
.learn_state_wrap .box {
  padding: 24px 32px 48px;
  min-height: 266px;
}
.learn_state_wrap .test_before {
  height: 197px;
}
.learn_state_item {
  display: block;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
.learn_state_item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.learn_state_item .title {
  margin-bottom: 24px;
}
.learn_state_item .title p {
  font-size: 1.6rem; font-weight: 500; color: #000; line-height: 2.4rem;
}
.learn_state_item .title .label {
  display: inline-block;
  margin-left: 8px;
  padding: 0 8px;
  color: #898D9C; line-height: 1.8rem; font-size: 1.2rem;
  font-weight: 500;
  background-color: #D6DBE2; 
  border-radius: 11px;
}
.learn_state_item .title .label.orange { 
  color: #F15922;
  background-color: #FFE4DB;
}
.learn_state_item .state_box {
  display: flex;
  width: 100%;
  gap: 14px; align-items: center;
}
.learn_state_item .state_box > p {
  min-width: 64px;
  flex-shrink: 0;
  font-size: 1.4rem; font-weight: 500;
}
.learn_state_item .state_box ul {
  display: flex;
  width: 100%; height: 28px;
  max-width: 650px;
}
.learn_state_item .state_box ul li {
  position: relative;
  display: flex;
  padding: 6px;
  flex: 1; 
  font-size: 1.1rem; color: #898D9C; font-weight: 500;
  align-items: center; justify-content: center;
  background-color: rgba(214,219,226, 0.5);
}
.learn_state_item .state_box ul li:first-child {
  border-radius: 4px 0 0 4px; 
}
.learn_state_item .state_box ul li:last-child {
  border-radius: 0 4px 4px 0; 
}
.learn_state_item .state_box ul > li::after {
  content: "";
  position: absolute; left: -1px; top: 50%;
  width: 1px; height: 20px;
  border-left: 1px dashed #898D9C;
  transform: translateY(-50%);
} 
.learn_state_item .state_box ul > li:first-child::after {
  display: none;
}
.learn_state_item .state_box ul > li.on {
  color: var(--primary);
  background-color: rgba(255,231,222, 0.5);
}
.learn_state_item .state_box ul > li.on::after {
  border-color: #FEA585;
}
.learn_state_item .state_box ul > li .pin {
  position: absolute; right: 0; top: 50%;
  z-index: 1;
  display: block;
  width: 2px; height: 40px;
  background-color: var(--primary);
  border-radius: 10px;
  transform: translateY(-50%);
}
.learn_state_item .state_box ul > li .pin::after {
  content: "";
  position: absolute; top: -20px; left: 50%;
  width: 16px; height: 16px;
  background: url(@/assets/images/abilitydevelop/icon_point.png) no-repeat center;
  transform: translateX(-50%);
}
.learn_state_item .state_box ul > li:last-child .pin::after {
  left: -3px;
  background: url(@/assets/images/abilitydevelop/icon_flag.png) no-repeat center;
  transform: none;
}

.report_wrap .accordion {
  margin-bottom: 32px;
  border-radius: 14px;
  box-shadow: var(--shadow);
} 
.report_wrap .acd_tit { 
  padding: 19px 70px 18px 28px;
  padding-right: 70px !important;
  font-size: 2.2rem; font-weight: 600; line-height: 3rem;
  background: var(--white);
}
.report_wrap .accordion.acd_active .acd_tit {
  padding: 40px 50px;
}
.report_wrap .acd_tit::before {
  position: absolute; top: 50%; right: 24px;
  content: '';
  width: 19px; height: 19px;
  background: url(/src/assets/images/formstyle/icon_accordion.svg) no-repeat;
  transform: translateY(-50%);
}
.report_wrap .accordion.acd_active .acd_tit::before {
  right: 50px;
}
.report_wrap .accordion.acd_active .acd_inner {
  padding: 0 50px 68px;
  background: var(--white);
  border-radius: 0 0 1.4rem 1.4rem;
  box-shadow: var(--shadow);
}  







@media screen and (max-width: 1024px) {

  .learn_grid {
    flex-direction: column;
  }
  .learn_apply_wrap {
    width: auto;
  }
  .learn_apply_wrap .test_result {
    min-height: 150px;
  }
  .learn_state_wrap {
    max-width: none;
  }
  .learn_state_wrap .box {
    padding: 24px 32px;
    min-height: 150px;
  }

  .report_wrap .accordion {
    margin-bottom: 24px;
  }
  .report_wrap .acd_tit {
    padding: 14px 50px 14px 32px;
    font-size: 1.8rem; line-height: 2.5rem;
  }
  .report_wrap .accordion.acd_active .acd_inner {
    padding: 0 24px 32px;
  }
  .report_wrap .accordion.acd_active .acd_tit {
    padding: 24px;
  }
  .report_wrap .accordion.acd_active .acd_tit::before {
    right: 24px;
  }


}
@media screen and (max-width: 768px) {
  .guide_info.ability .guide_section > h4 { 
    font-size: 2.2rem; line-height: 2.9rem;
  }
}

@media screen and (max-width: 480px) {
  .learn_state_wrap .box {
    padding: 24px 22px;
  }
  .learn_state_item .title {
    margin-bottom: 14px;
  }
  .learn_state_item .state_box {
    flex-direction: column; align-items: flex-start;
    gap: 8px;
  }
}











