@charset "utf-8";

.title_row {
  font-weight: 500; text-align: left;
}
.title_row a {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: inherit; 
  transition : 0.08s; 
}
.title_row a:hover {
  color: var(--primary);
  text-decoration: underline;

}
.title_row a p {
  display: -webkit-box; 
  height: 20px;
  font-weight: inherit;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title_row a span {
  font-size: 0; text-indent: -9999px;
  margin-left: 8px;
  width: 20px; height: 20px;
  flex-shrink: 0;
}
.title_row a .fixed_top { 
  background: url(@/assets/images/community/icon_fixed_top.svg);
}
.title_row a .locked { 
  background: url(@/assets/images/community/icon_locked.svg);
  transition : 0.08s;
}
.title_row a:hover .locked { 
  background: url(@/assets/images/community/icon_locked_on.svg);
}

.commu_content {
  padding: 32px 32px 24px;
  background-color: #fff;
  border-radius: 14px;
}
.bbs_header {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 1px solid #222;
}
.bbs_header .cnt_title {
  padding-right: 340px;
  font-size: 2.4rem; font-weight: 600; line-height: 3.2rem;
}
.bbs_header .cnt_function {
  position: absolute; right: 0; top: 6px; 
  text-align: right;
}
.bbs_header .cnt_function ul li {
  position: relative;
  display: inline-block;
  margin-left: 16px;
  padding-left: 16px;
  font-size: 1.3rem; font-weight: 500; line-height: 2rem; color: var(--dark2);
}
.bbs_header .cnt_function ul li::before {
  position: absolute; left: 0; top: 50%;
  content: "";
  display: block;
  width: 1px; height: 12px;
  background-color: #D6DBE2;
  transform: translateY(-50%);
}
.bbs_header .cnt_function ul li:first-child::before {
  display: none;
}
.bbs_header .cnt_function ul li.views {
  color: #F8B283;
}
.bbs_content {
  padding: 32px 8px 60px;
  min-height: 200px;
  color: var(--dark2); font-size: 1.6rem; line-height: 3.2rem;
  border-bottom: 1px solid var(--light2);
}
.bbs_content p {
  line-height: 3.2rem;
}

.commu_content .attach_area {
  padding: 16px 0;
  border-bottom: 1px solid var(--light2);
}
.commu_content .attach_area li:last-child {
  margin-bottom: 0;
}

.commu_footer {
  position: relative;
  margin-top: 16px;
  text-align: center;
}
.commu_btn_area {
  position: absolute; top: 50%; left: 0; right: 0;
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: space-between; align-items: center;
  text-align: left;
  transform: translateY(-50%);
} 
.commu_btn_area .btn {
  display: inline-flex; 
  align-items: center;
  font-size: 1.6rem; line-height: 2.4rem;
  gap: 8px;
} 
.commu_btn_area .btn_prev::before, 
.commu_btn_area .btn_next::after {
  content: "";
  display: inline-block;
  margin: 10px;
  width: 36px; height: 36px; 
  vertical-align: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(34,34,34, 0.16);
}
.commu_btn_area .btn_prev::before {
  background-image: url(@/assets/images/community/icon_left.svg);
}
.commu_btn_area .btn_next::after {
  background-image: url(@/assets/images/community/icon_right.svg);
}
.commu_btn_area .btn_prev[disabled]::before, 
.commu_btn_area .btn_next[disabled]::after {
  opacity: 0.3;
}
.commu_footer .btn_xl {
  position: relative;
  z-index: 1;
}

.qna_wrapper {
  margin-bottom: 24px;
  padding: 32px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
}
.qna_wrapper h4 {
  margin-bottom: 16px;
  font-size: 1.6rem; font-weight: 600;
}
.qna_wrapper .date {
  font-size: 1.4rem
}



@media screen and (max-width: 1024px) {
  .commu_content {
    padding: 24px;
  }
  .bbs_header {
    padding-bottom: 12px;
  }
  .bbs_header .cnt_title {
    padding-right: 0;
    font-size: 2rem; line-height: 2.8rem;
  }
  .bbs_header .cnt_function {
    position: static;
    margin-top: 8px;
  }
  .bbs_content {
    padding: 24px 4px 40px;
    font-size: 1.5trm; line-height: 2.8rem;
  }
  .bbs_content p {
    line-height: 2.8rem;
  }
}

@media screen and (max-width: 768px) {

  .qna_wrapper {
    padding: 24px 16px;
  }
  .title_row a p {
    height: auto;
    -webkit-line-clamp: 2; 
  }

}

@media screen and (max-width: 480px) {
  .commu_content {
    padding: 24px 16px;
  }
  .commu_btn_area {
    position: static;
    margin-bottom: 16px;
    transform: none;
  }
}





