@charset "utf-8";

/* 진단 인트로 화면 */
.diag_intro {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding: 32px 48px;
  height: 200px;
  align-items: flex-end;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
  overflow: hidden;
}
.diag_intro > div {
  position: relative; z-index: 1;
  font-size: 1.8rem; line-height: 2.6rem; font-weight: 500; color: var(--white);
  word-break: keep-all;
}
.diag_intro.core_ability {
  background-image: url(@/assets/images/diag/bg_diag_core.png);
}
.diag_intro.major_ability {
  background-image: url(@/assets/images/diag/bg_diag_major.png);
}
.diag_intro.basic_ability {
  background-image: url(@/assets/images/diag/bg_diag_basic.png);
}
.diag_intro.learn_ability {
  background-image: url(@/assets/images/diag/bg_diag_learn.png);
}
.diag_intro.slt_test {
  padding: 48px;
  align-items: center;
  background-image: url(@/assets/images/diag/bg_diag_slt.png);
}
.diag_intro.slt_test h3 {
  margin-bottom: 16px;
  font-size: 2.8rem; font-weight: 600; line-height: 3.6rem;
}
.diag_intro.slt_test > div {
  font-size: 1.6rem; font-weight: 500; line-height: 2.4rem;
}

.guide_info {
  padding: 42px 48px; 
}
.guide_section {
  margin-bottom: 32px;
}
.guide_section:last-child {
  margin-bottom: 0;
}
.guide_section > h4 {
  margin-bottom: 16px;
  font-size: 2rem; font-weight: 600; line-height: 2.9rem;
}
.guide_section .txt {
  font-weight: 400; color: var(--dark3); font-weight: 500; line-height: 2.2rem;
}


/* 진단그리드 */
.diag_grid {
  display: flex;
  gap: 32px;
}

/* 진단 실시 리스트 */
.diag_card_wrap {
  width: 100%;
  max-width: 845px;
} 
.diag_card_wrap .swiper-wrapper {
  padding-bottom: 42px;
}
.diag_card_wrap .swiper-pagination-bullet-active {
  background-color: var(--dark2);
}
.diag_card_wrap .swiper-pagination-bullet {
  margin: 0 3px !important;
  width: 6px; height: 6px;
}
.diag_card_wrap .box {
  padding: 0;
  height: 356px;
  overflow: hidden;
}
.diag_card_wrap .test_stare {
  position: relative;
  padding: 190px 24px 24px;
}
.diag_card_wrap .test_stare::before {
  position: absolute; top: 0; left: 0; z-index: 1;
  content: "";
  display: block;
  width: 100%; height: 164px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 164px;
  background-image: url(@/assets/images/diag/img_teststart.png);
}
.diag_card_wrap .test_stare::after {
  position: absolute; top: 0; left: 0; z-index: 1;
  content: "";
  display: block;
  width: 100%; height: 164px;
  background-color: rgba(34, 34, 34, 0.12);
}
.diag_card_wrap .test_stare .title {
  position: relative;
  display: flex;
  margin-bottom: 6px;
}
.diag_card_wrap .test_stare .title > p {  
  display: -webkit-box;
  /* height: 48px; */
  height: 26px;
  font-size: 1.6rem; font-weight: 500;
  line-height: 2.4rem; text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
  overflow: hidden;

}
.diag_card_wrap .test_stare:has(.status_label.gray)::after {
  background-color: rgba(0,0,0, 0.4);
}
.diag_card_wrap .test_stare .status_label {  
  display: table-cell;  
  margin-left: 4px; margin-top: 2px;
  white-space: nowrap; vertical-align: top; 
}
.diag_card_wrap .test_stare .label_wrap {
  margin-bottom: 6px;
}
.status_label.green {
  color: #5AAE70;
  background-color: #EDFAE9;
}
.status_label.purple {
  color: #9B68F6;
  background-color: #E9DDFE;
}
.status_label.gray {
  color: #898D9C;
  background-color: #D6DBE2;
}


.diag_card_wrap .test_stare .date {
  display: block;
  text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
  overflow: hidden;

  font-weight: 500; color: var(--dark3);
}
.diag_card_wrap .test_stare .btn_area {
  text-align: right !important;
}


/* 진단 결과 리스트 */
.diag_rslt_wrap {
  width: 415px; 
}
.test_result {
  padding: 24px 12px 22px 24px;
  height: 356px; 
}
.testresult_list { 
  padding-right: 12px;
  height: 100%;
  overflow: hidden; overflow-y: auto;
}
.testresult_list > li {
  display: flex;
  margin-bottom: 16px; 
  padding-bottom: 16px; 
  align-items: center;
  border-bottom: 1px solid var(--light2);
}
.testresult_list > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.testresult_list > li > div {
  width: 100%;
  overflow: hidden;
}
.testresult_list .title {
  position: relative;
  display: -webkit-inline-box;
  margin-bottom: 6px;
  line-height: 2.2rem; font-size: 1.6rem; font-weight: 500;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.testresult_list .title:has(.label) {
  padding-right: 58px;
}
.testresult_list .label {
  display: inline-block;
  margin-left: 8px;
  padding: 0 8px;
  color: #fff; line-height: 1.8rem; font-size: 1.2rem;
  vertical-align: middle;
  background-color: #395078;
  border-radius: 11px;
}
/* .testresult_list .title .label {
  position: absolute; top: 3px; right: 0;
} */
.testresult_list .function {
  position: relative;
  display: flex;
  align-items: center;
}
.testresult_list .function > * {
  display: inline-block;
}
.testresult_list .function .date {
  color: var(--dark3); font-weight: 500;
}
.testresult_list .function .date > span {
  margin-left: 8px; 
  font-weight: inherit;
}
.testresult_list .function .label {
  font-weight: 500;
  background-color: #AABBCE;
}
.testresult_list .function .label.orange {
  color: #F15922;
  background-color: #FFE4DB;
}
.testresult_list .function button {
  position: absolute; right: 0;
  font-weight: 500; color: var(--primary);
}

/* 진단하기 */
.diag_desc {
  margin-bottom: 40px;
  padding: 40px;
  
}
.diag_desc .top {
  display: grid;  
  gap: 24px; 
  grid-template-columns: repeat(4, 1fr);
}
.diag_desc .top > div {
  display: flex;
  gap: 30px; 
  align-items: flex-start;
  line-height: 2.4rem; font-weight: 600; font-size: 1.6rem;
}
.diag_desc .top > div:last-child {
  margin-bottom: 0;
}
.diag_desc .top > div > strong {
  padding-right: 8px;
  min-width: 60px;
  text-align: right;
  color: #666; font-weight: 500; line-height: inherit;
}
.diag_desc .bottom {
  margin-top: 24px;
  padding: 24px 0 0 0;
  min-height: 126px;
  line-height: 2.4rem;
  border-top: 1px solid var(--light2);
}
.diag_desc.double .top {
  display: flex; flex-wrap: wrap;
}
.diag_desc.double .top > div {
  width: 50%;
}
.diag_desc .bottom .test_title {
  margin-bottom: 8px;
  font-size: 2rem; font-weight: 600; line-height: 2.9rem;
}
.diag_desc .bottom.score_view {
  position: relative;
  padding-right: 300px;
}
.diag_desc .bottom.score_view .submit_wrap {
  position: absolute; right: 0; top: 16px;
}

/* 진단하기 문항 */
.diag_wrapper {
  margin-bottom: 24px;
}
.diag_do_section {
  margin-bottom: 16px;
}
.diag_do_section {
  padding: 32px;
  border-radius: 14px;
  background-color: #fff;
}
.diag_do_section .diag_qus {
  margin-bottom: 16px;
  font-size: 1.4rem; font-weight: 500;
}
.diag_qus span {
  display: inline-block;
  margin-right: 4px;
  font-weight: inherit; vertical-align: 0; 
}


.diag_ans { 
  padding-top: 8px;
  padding-left: 26px;
}
.diag_ans .radio_row {
  display: inline-block;
  margin: 0 40px 8px 0;
} 
.diag_ans .radio_row > label {
  font-size: 1.4rem; font-weight: 500;
  background-position: left 5px;
}

.diag_ans.row .radio_row {
  display: block;
}

.core_qus_section {
  margin-bottom: 40px;
}
.core_qus_section .diag_qus {
  margin-bottom: 16px;
  font-size: 1.6rem; line-height: 2.4rem; font-weight: 500;
}
.core_qus_section .box {
  padding: 40px 60px;
}


/* 진단화면 테이블 */
.tbl_diag {
	border-top: none;
}
.tbl_diag table {
	font-size: 1.4rem; 
}
.tbl_diag.tbl_row table tbody th {
	text-align: center;
	background-color: rgba(255,245,242, 0.6);
}
.tbl_diag.tbl_row table tbody th, .tbl_diag.tbl_row table tbody td {
	border: 1px solid var(--light1);
}
.tbl_diag.tbl_row table tbody td {
	padding: 13px 30px;
}
.tbl_diag.tbl_row table tbody td, .tbl table tfoot td {
	line-height: 2.2rem; font-weight: 400;
}
.tbl_diag.tbl_row table tbody td.td_radio_btn { 
	padding: 0;
	text-align: center;
}
.tbl_diag.tbl_row table tbody td.td_radio_btn .radio_row {
	margin: 0;
}
.tbl_diag.tbl_row table tbody td.td_radio_btn .radio_row > label {
	padding: 0;
	width: 80px;
	min-height: 49px;
	font-size: 0;
	background-position: center;
}
.tbl_diag.tbl_row table tbody th {
	padding: 13px;
}

.tbl_diag.tbl_row table tbody td .form_style {
	max-width: 781px;
}

/* 만족도조사 */ 
.satis_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.satis_viewbox {
  display: flex; 
  gap: 24px;
  padding: 24px;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
}
.satis_viewbox .satis_btn {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100px; height: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
}
.satis_viewbox .satis_btn span{
  font-size: 1.4rem; font-weight: 500;
}
.satis_viewbox .satis_btn span br {
  display: none;
}
.satis_viewbox .satis_btn span::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px; height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.satis_viewbox .satis_btn.do {
  background: #FFCFBE;
}
.satis_viewbox .satis_btn.do span {
  color: var(--white);
}
.satis_viewbox .satis_btn.do span::before {
  background-image: url(@/assets/images/diag/icon_satis_do.png);
}
.satis_viewbox .satis_btn.done {
  background: #C5CAD5;
}
.satis_viewbox .satis_btn.done span {
  color: var(--white);
}
.satis_viewbox .satis_btn.done span::before {
  background-image: url(@/assets/images/diag/icon_satis_done.png);
}
.satis_viewbox .satis_btn.finished::after {
  content: "";
  position: absolute; left: 0; top: 0;
  width: 100px; height: 100px;
  background: url(@/assets/images/diag/icon_satis_finished.png) no-repeat center;
}

.satis_viewbox .cont {
  display: block; 
  width: 100%;
}
.satis_viewbox .cont > strong{
  display: block;
  margin-bottom: 20px;
  color: var(--dark1); font-size: 1.6rem; font-weight: 600; line-height: 2.4rem;
  display: -webkit-box;
  height: 48px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden; 
}
.satis_viewbox .bottom {
  display: flex;
  min-height: 32px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
} 
.satis_viewbox .bottom > .right {
  text-align: right;
  flex-shrink: 0;
} 
.satis_viewbox .bottom p { 
  font-size: 1.4rem; font-weight: 500; color: var(--dark3); display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;  
}

/* 만족도조사 참여하기 */
.satis_wrap .diag_desc .top {
  grid-template-columns: 1fr;
  gap: 12px;
}
.satis_wrap .diag_desc .top > div > strong {
  min-width: 80px;
  text-align: left;
}


/* 문항 */
.diag_qus_wrap {
  padding-right: 340px;
}
.diag_qus {
  margin-bottom: 32px;
}
.diag_qus .qus_header {
  display: flex; 
  margin-bottom: 12px;
}
.diag_qus .qus_header .qus_num {
  position: relative;
  display: inline-flex;
  margin-right: 2px;
  padding: 0 10px;
  min-width: 54px; height: 54px;
  flex-shrink: 0; align-items: center; justify-content: center;
  line-height: 3.2rem; font-size: 2.4rem; vertical-align: 0;
}
.popup_content .diag_qus .qus_header .qus_num {
  min-width: 40px; height: 40px;
  font-size: 2rem;
}
.diag_qus .qus_header .qus_tit { 
  margin-top: 15px;
  font-size: 1.6rem; line-height: 2.4rem; font-weight: 500;
}
.diag_qus .qus_header .qus_tit .qus_info {
  display: inline-block;
  vertical-align: 0; font-size: 1.5rem; color: var(--red); font-weight: 500;
}
.popup_content .diag_qus .qus_header .qus_tit {
  margin-top: 8px;
}
.diag_qus .qus_header .qus_score {
  position: relative; top: -2px;
  display: inline-block;
  margin-left: 12px;
  color: #54A5EB; font-size: 1.2rem; vertical-align: text-bottom;
}
.diag_qus .qus_header .qus_score:has(span) {
  color: var(--dark3);
}
.diag_qus .qus_header .qus_score span {
  display: inline-block;
  font-weight: 500; color: #54A5EB;
}
.diag_qus .qus_header .qus_score span::after {
  content: "/";
  display: inline-block;
  margin: 0 4px;
  font-weight: 400;
}
.diag_qus .qus_header:has(+ .hint_wrap) {
  margin-bottom: 6px;
}
.diag_qus .hint_wrap {
  display: flex;
  margin-bottom: 23px;
  padding-left: 56px;
  color: var(--navy); font-size: 1.3rem;
}
.popup_content .diag_qus .hint_wrap {
  margin-bottom: 12px;
  padding-left: 46px;
}
.diag_qus .hint_wrap > strong {
  position: relative;
  display: inline-flex; flex-shrink: 0;
  margin: 0 6px 3px 0;
  width: 42px; height: 20px;
  align-items: center; justify-content: center;
  color: var(--white); font-size: 1.2rem; font-weight: 500;
  border-radius: 10px;
  background-color: var(--navy);
}
.diag_qus .hint_wrap > strong::after {
  position: absolute; right: -2px; bottom: -3px;
  content: "";
  display: block;
  width: 100%; height: 100%;
  border: 1px solid var(--navy);
  border-radius: 10px;
}

.diag_qus .qus_cnt {
  padding-left: 56px;
}
.popup_content .diag_qus .qus_cnt {
  padding-left: 46px;
}

.diag_qus .qus_cnt .radio_row {
  display: block;
  margin: 0 0 10px 0;
}
.diag_qus .qus_cnt .check_row {
  display: block;
  margin: 0 0 8px 0;
}
.diag_qus .qus_cnt .check_row > label {
  font-size: 1.4rem; font-weight: 500;
  background-position: left 4px;
}
.diag_qus .qus_cnt input.form_style {
  padding: 0 0 6px 0;
  height: auto;
  line-height: 2.1rem;
  border-radius: 0; 
  border: none;
  border-bottom: 1px solid var(--dark3);
}
.diag_qus .qus_cnt input.form_style[disabled] {
  font-weight: 500;
  background-color: transparent;
}
.diag_qus .qus_cnt input.form_style:focus {
  border-color: var(--dark2);
}
.diag_qus .qus_cnt .qusimg_wrap {
  position: relative; 
  margin-bottom: 24px;
  border-radius: 8px; 
}
.diag_qus .qus_cnt .qusimg_wrap img {
  max-width: 100%;
  border-radius: 8px; 
}

.diag_qus .qus_cnt .qus_img { 
  position: relative;
  display: block;
  margin-top: 8px;
  max-width: 220px;
} 
.diag_qus .qus_cnt .qus_img img { 
  max-width: 100%;
  border-radius: 4px; 
}

.diag_qus .qus_cnt .radio_row:has(.qus_img), .diag_qus .qus_cnt .check_row:has(.qus_img) {
  margin-bottom: 24px;
}
.diag_qus .qus_cnt .radio_row .qus_img {
  margin-left: -24px;
}
.diag_qus .qus_cnt .check_row .qus_img {
  margin-left: -26px;
}


/* 척도형 문항 */
.diag_wrapper .scale_qusbox {
  margin: 0 auto;
  max-width: 998px;
}
.scale_qusbox {
  position: relative; z-index: 1;
  display: flex;
  align-items: flex-end; justify-content: space-between;
  background-color: var(--white);
}
.scale_qusbox::before {
  position: absolute; left: 50%; bottom: 8px; z-index: -1;
  content: "";
  display: inline-block;
  width: 100%; height: 1px;
  border-top: 1px dashed var(--light2);
  transform: translateX(-50%);
}
.scale_qusbox .radio_row {
  margin: 0 !important;
  max-width: 20%;
  text-align: center;
}
.scale_qusbox .radio_row label {
  position: relative;
  padding: 0 0 24px 0;
  color: var(--dark3);
  background-position: center bottom;
}
.scale_qusbox .radio_row input:checked + label {
  color: var(--black2);
}
.scale_qusbox .radio_row:first-child label::before,
.scale_qusbox .radio_row:last-child label::before {
  position: absolute; bottom: 0; z-index: -1;
  content: "";
  display: inline-block;
  width: 50%; height: 24px;
  background-color: #fff;
} 
.scale_qusbox .radio_row:first-child label::before {
  left: 0;
}
.scale_qusbox .radio_row:last-child label::before {
  right: 0;
}
.scale_qusbox .radio_row label .number {
  display: block;
  margin-bottom: 8px;
  font-weight: inherit; text-align: center;
}

/* 진단 이전, 다음 버튼 */
.diag_paging {
  padding: 24px 0 12px;
  display: flex;
  gap: 24px;
  align-items: center; justify-content: center;
}
.diag_paging button {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.diag_paging .prev::before, .diag_paging .next::after {
  content: "";
  display: inline-block;
  width: 16px; height: 20px;
  background-repeat: no-repeat;
}
.diag_paging .prev::before {
  margin-right: 8px;
  background-image: url(@/assets/images/diag/img_arrow_sm.png);
  transform: rotate(180deg);
  background-position: center 4px;
}
.diag_paging .next::after {
  margin-left: 8px;
  background-image: url(@/assets/images/diag/img_arrow_sm.png);
  background-position: center 5px;
}
.diag_paging button[disabled] {
  color: var(--light3);
}
.diag_paging button[disabled]::before, .diag_paging button[disabled]::after {
  filter: invert(98%) sepia(5%) saturate(913%) hue-rotate(182deg) brightness(88%) contrast(86%);
}

.diag_result_wrap .box { 
  position: relative;
  padding: 46px 60px 20px;
}
/* .diag_result_wrap .apexcharts-canvas * {
  overflow: visible; 
}
.diag_result_wrap .apexcharts-legend {
  position: absolute; top: -28px !important;
} */


/* SLT 검사 */
.slt_test.box {
  display: grid;
  padding: 36px 43px 36px 48px;
  grid-template-columns: 770fr 420fr;
}
.slt_test.box .slt_info {
  margin-right: 40px;
  padding-right: 30px;
  border-right: 1px solid var(--light2);
}
.slt_test.box .slt_info li {
  color: var(--dark3); font-weight: 500; font-size: 1.4rem;
}
.slt_test.box .slt_info ul > li::before {
  background-color: var(--dark3);
}
.slt_test.box .slt_go .btn_area {
  margin-top: 0;
  width: 100%;
  text-align: right !important;
}
.slt_test.box .slt_go .btn_go {
  width: 53px; height: 53px;
  font-size: 0;
  background: url(@/assets/images/diag/icon_slt_go.png) no-repeat center;
}

/* CAT 검사 */
.cat_list { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.cat_viewbox {
  display: flex;
  gap: 24px;
  padding: 24px;
  box-shadow: 0 0 6px rgba(0,0,0, 0.06);
  overflow: hidden;
}
.cat_viewbox .cat_btn {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100px; height: 108px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
}
.cat_viewbox .cat_btn span{
  font-size: 1.4rem; font-weight: 500;
}
.cat_viewbox .cat_btn span br {
  display: none;
}
.cat_viewbox .cat_btn span::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px; height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.cat_viewbox .cat_btn {
  background: #B1E5DE;
}
.cat_viewbox .cat_btn span {
  color: var(--white);
}
.cat_viewbox .cat_btn span::before {
  background-image: url(@/assets/images/diag/icon_satis_done.png);
}
.cat_viewbox .cat_btn.finished::after {
  content: "";
  position: absolute; left: 0; top: 0;
  width: 100px; height: 100px;
  background: url(@/assets/images/diag/icon_satis_finished.png) no-repeat center;
}
.cat_viewbox .cont { 
  display: block;
  width: 100%;
}
.cat_viewbox .cont > strong {
  display: block;
  margin-bottom: 16px;
  color: var(--dark1); font-size: 1.6rem; font-weight: 600; line-height: 2.4rem;
  display: -webkit-box;
  height: 48px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.cat_viewbox .cont .bottom {
  position: relative;
}
.cat_viewbox .cont .bottom:has(.btn_bo_primary) {
  padding-right: 84px;
}
.cat_viewbox .cont .bottom ul li {
  font-size: 1.4rem; line-height: 2.2rem; font-weight: 500; color: var(--dark3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden; 
}
.cat_viewbox .cont .bottom ul li strong {
  position: relative;
  display: inline-block;
  margin-right: 8px; 
  padding-right: 8px;
  font-weight: inherit; vertical-align: 0;
}

.cat_viewbox .cont .bottom ul li strong::after {
  position: absolute; right: 0; top: 5px;
  display: block;
  content: "";
  width: 1px; height: 12px;
  background-color: #898D9C;
  
}

.cat_list.result_list .cat_viewbox .cat_btn {
  background-color: #C5CAD5;
}
.cat_list.result_list .cat_viewbox .cont > strong {
  height: 24px;
  -webkit-line-clamp: 1;
}
.cat_list.result_list .cat_viewbox .cont .btn_bo_primary {
  position: absolute; right: 0; bottom: 0;
  border-radius: 4px;
}




@media screen and (max-width: 1280px) {
  
  .diag_card_wrap {
    max-width: 540px;
  }
  .diag_rslt_wrap {
    width: 100%; 
  }

}


@media screen and (max-width: 1024px) {

  
  .diag_grid { 
    flex-direction: column;
  }
  .diag_card_wrap {
    width: auto;
    max-width: none;
  }
  .diag_card_wrap .box {
    height: 330px;
  }
  .diag_card_wrap .test_stare {
    padding: 180px 16px 16px;
  }
  .diag_card_wrap .test_stare .btn_area {
    margin-top: 16px;
  }
  .diag_rslt_wrap {
    width: auto; 
  }

  .guide_info {
    padding: 32px;
  }
  .diag_desc {
    padding: 32px;
  }
  .diag_desc .top {
    grid-template-columns: repeat(3, 1fr);
  }

  .core_qus_section .box {
    padding: 24px 32px;
  }

  .tbl_diag.tbl_row table tbody td.td_radio_btn .radio_row > label {
    width: 40px;
  }
  .tbl_diag.tbl_row table tbody td {
    padding: 13px 20px;
  }

  .diag_qus_wrap {
    padding-right: 240px;
  }
  .diag_qus .qus_header .qus_num {
    margin-right: 4px;
    padding: 0 5px;
    min-width: 34px; height: 34px;
    font-size: 2rem;
  }
  .diag_qus .qus_header .qus_tit {
    margin-top: 5px;
  }
  .diag_qus .hint_wrap {
    margin-bottom: 16px;
    padding-left: 42px;
  }
  .diag_qus .qus_cnt {
    padding-left: 42px;
  }

  .qus_ans {
    margin-left: 42px;
  }
  .qus_ans .ans_row {
    font-size: 1.5rem;
  }

  /* 척도형 문항 1024 */
  .diag_wrapper .scale_qusbox {
    margin-left: 16px;
  }
  .scale_qusbox {
    display: block;
  }
  .scale_qusbox::before {
    bottom: inherit; left: 8px;
    width: 1px; height: 100%;
    border-top: none;
    border-left: 1px dashed var(--light2);
  }
  .scale_qusbox .radio_row {
    display: block;
    max-width: 100%;
    margin-bottom: 12px !important;
    text-align: left;
  }
  .scale_qusbox .radio_row:last-child {
    margin-bottom: 0 !important;
  }
  .scale_qusbox .radio_row label {
    display: inline-flex;
    padding: 2px 0 2px 24px;
    align-items: center;
    background-position: left center;
  }
  .scale_qusbox .radio_row:first-child label::before, .scale_qusbox .radio_row:last-child label::before {
    width: 16px; height: 50%;
  }
  .scale_qusbox .radio_row:first-child label::before {
    bottom: inherit; top: 0;
  }
  .scale_qusbox .radio_row:last-child label::before {
    right: inherit; left: 0;
  }
  .scale_qusbox .radio_row label .number {
    display: inline-block;
    margin-bottom: 0; margin-right: 12px;
  }

  .satis_list {
    grid-template-columns: 1fr;
  }
  .cat_list {
    grid-template-columns: 1fr;
  }
  

  .slt_test.box {
    padding: 36px;
    grid-template-columns: 1fr;
  }
  .slt_test.box .slt_info {
    margin-right: 0; padding-right: 0;
    margin-bottom: 24px; 
    padding-bottom: 36px;
    border-right: none;
    border-bottom: 1px solid var(--light2);
  }
  .slt_test.box .slt_go .section_tit {
    line-height: 2.8rem;
  }





  .diag_result_wrap .box {
    padding: 24px;
  }

}

@media screen and (max-width: 768px) {
  .guide_info {
    padding: 24px;
  }
  .diag_intro {
    padding: 18px;
    height: auto;
    min-height: 200px;
    border-radius: 8px;
    background-size: cover;
  }
  .diag_intro > div {
    font-size: 1.4rem; line-height: 2rem;
  }
  .diag_intro.core_ability {
    background-position: right -300px center;
  }
  .diag_intro.learn_ability {
    background-position: right -200px center;
  }
  
  .diag_intro.slt_test {
    padding: 16px 24px;
  }
  .diag_intro.slt_test h3 {
    margin-bottom: 12px;
    font-size: 2rem; line-height: 2.8rem;
  }
  .diag_intro.slt_test > div { 
    font-size: 1.4rem; line-height: 2.2rem;
  }
  .diag_desc {
    padding: 24px;
  }
  .diag_desc .top {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .diag_desc .top > div {
    gap: 16px;
    font-size: 1.5rem;
  }
  .diag_desc .bottom {
    margin-top: 18px;
    padding-top: 18px;
    min-height: 90px;
  }

  .diag_do_section {
    padding: 24px;
  }
  .core_qus_section .box {
    padding: 24px 16px;
  }

  
  .diag_qus .qus_header {
    margin-bottom: 8px;
  }
  .diag_qus .qus_header .qus_tit {
    margin-top: 6px;
  }
  .popup_content .diag_qus .qus_header .qus_num {
    min-width: 34px; height: 34px;
  }
  .popup_content .diag_qus .qus_header .qus_tit {
    margin-top: 6px;
  }
  .diag_qus .hint_wrap {
    display: block;
    padding-left: 38px;
  }
  .popup_content .diag_qus .hint_wrap {
    padding-left: 38px;
  }
  .diag_qus .hint_wrap > strong {
    display: table;
    margin-bottom: 6px;
    text-align: center;
  }
  .diag_qus .qus_cnt {
    padding-left: 38px;
  }
  .popup_content .diag_qus .qus_cnt {
    padding-left: 38px;
  }
  .diag_qus .qus_cnt .radio_row {
    margin-bottom: 6px;
  }
  .diag_qus .qus_cnt .check_row {
    margin-bottom: 4px;
  }
  .diag_qus .qus_cnt .radio_row:has(.qus_img), .diag_qus .qus_cnt .check_row:has(.qus_img) {
    margin-bottom: 18px;
  }

  .diag_qus.correct .qus_header .qus_num::after {
    width: 42px; height: 42px;
  }
  .diag_qus.wrong .qus_header .qus_num::after {
    height: 48px;
  }

  .qus_ans {
    margin-left: 38px; 
    margin-bottom: 40px;
    padding: 12px 16px;
  }
  .popup_content .qus_ans {
    margin-left: 38px;
  }
  .qus_cnt:has(.radio_row, .check_row) + .qus_ans {
    margin-top: 24px;
  }
  .qus_ans .ans_row p {
    margin-right: 18px;
  }

  .cat_viewbox .cont .bottom:has(.btn_bo_primary) {
    padding-right: 0; padding-bottom: 40px;
  }

  .diag_result_wrap .chart_box {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .diag_result_wrap .chart_box .bar_chart {
    width: 800px !important;
  }


}

@media screen and (max-width: 480px) {
  .diag_intro.core_ability {
    background-position: right -600px center;
  }
  .diag_intro.learn_ability {
    background-position: right -200px center;
  }

  .diag_intro.slt_test { 
    min-height: 250px;
  }


  .diag_card_wrap .test_stare::before {
    background-size: cover;
  }

  .diag_desc .top {
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .diag_desc .top > div > strong {
    text-align: center;
  }

  .diag_do_section {
    padding: 24px 16px;
  }
  .tbl_diag.tbl_row table tbody td {
    padding: 7px 10px;
  }
  
  .diag_qus .qus_header .qus_num {
    min-width: 20px; height: 20px;
    font-size: 1.8rem;
  }
  .diag_qus .qus_header .qus_tit {
    margin-top: 0;
  }

  .satis_viewbox { 
    gap: 16px;
    padding: 16px;
  }
  .satis_viewbox .satis_btn {
    width: 75px; height: 75px;
  }
  .satis_viewbox .satis_btn span {
    padding: 0 12px;
    font-size: 1.2rem; line-height: 1.2rem;
  }
  .satis_viewbox .satis_btn span br {
    display: block;
  }
  .satis_viewbox .satis_btn span::before {
    width: 36px; height: 36px;
  }
  .satis_viewbox .satis_btn.finished::after {
    width: 75px; height: 75px;
    background-size: 60px;
  }

  .satis_viewbox .cont > strong {
    height: auto;
    margin-bottom: 6px;
    -webkit-line-clamp: 1;
  }
  .satis_viewbox .bottom {
    display: block;
  }
  .satis_viewbox .bottom > .right {
    margin-top: 8px;
  }

  .slt_test.box {
    padding: 24px;
  }
  .slt_test.box .slt_info {
    margin-bottom: 16px;
    padding-bottom: 24px;
  }
  
  .cat_viewbox {
    gap: 16px;
    padding: 16px;
  }
  .cat_viewbox .cat_btn {
    width: 75px; height: 75px;
  }
  .cat_viewbox .cat_btn span {
    padding: 0 12px;
    font-size: 1.2rem; line-height: 1.2rem;
  }
  .cat_viewbox .cat_btn span br {
    display: block;
  }
  .cat_viewbox .cat_btn span::before {
    width: 36px; height: 36px;
  }
  .cat_viewbox .cat_btn.finished::after {
    width: 75px; height: 75px;
    background-size: 60px;
  }


  .diag_result_wrap .box {
    padding: 24px 16px;
  }

}





